<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Inner Page - Arsha Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>
    img{
      width: 50%;
      height: 50%;
    }
  </style>
</head>

<body>
  <img src='/<%=img_root%>'>
</body>

</html>